////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

%clearfix {
  @include clearfix;
}

@mixin max-width() {
  max-width: $max-width;
  margin: 0 auto 0;
  padding: 0 .5em;
}

%max-width {
  @include max-width;
}
