/**
* Form elements: Inputs, buttons, etc.
*/

form {
}

fieldset {
}

legend {
}

input,
button,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.375em;
  outline: 0;
  margin-bottom: 1em;
  max-width: 400px;
  float: left;
  transition: box-shadow 0.3s ease-out, border 0.3s ease-out;

  &:focus {
    border-color: style-color($green, dull);
    background-color: $white;
    box-shadow: 0 0 4px rgba(style-color($green), 0.5);
  }

  @include breakpoint(720px) {
    width: 80%;
  }
}

.required {
  color: red;
}


label {
  @include breakpoint(720px) {
    width: 20%;
    float: left;
    text-align: right;
    padding: .375em .5em;
  }
}

.submit,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  border: 1px solid style-color($green, dark);
  padding-left: 3em;
  padding-right: 3em;
  color: white;
  background-color: style-color($green);

  &:hover {
    //background-color:
  }

  &:active {

  }

  @include breakpoint(598px) {
    width: auto;
    margin-left: 1em;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {

  &:focus {

  }
}
