/**
 * The footer partial.
 */

#footer {
  margin-top: 2em;

  .inner {
    @extend %max-width;
    @extend %clearfix;

    padding: 0 .5em 1em;
    font-size: 1.05em;
  }


  .contact {
    a {
      @extend %icons;
      float: left;
      clear: left;
      text-decoration: none;
      transition: color 0s;

      &:hover {
        color: style-color($orange);
      }
    }
  }

  .copyright {
    padding: .25em 0;
    display: block;
    clear: both;
  }
}
