/**
 * @file _pagination.scss
 */

.pagination {
  margin-top: 1em;
  text-align: center;
  border-top: 1px solid style-color($orange);
  padding-top: .5em;

  .page_number {
    padding: 0 2em;
  }
}
