<form action="//atxsaferstreets.us8.list-manage.com/subscribe/post?u=d98b43c541764f548279636ea&amp;id=371eb46715" method="post" id="newsletter_signup" name="signup" target="windowName" onsubmit="window.open('', this.target,
'dialog,modal,scrollbars=no,resizable=no,width=550,height=380,left=0,top=0');">
  For continued updates, subscribe to our email list. We promise to never give away your information to anybody else, and only send you updates about bringing better transportation to Austin.
  <br />
  <input type="email" name="email" placeholder="your@email.com" value="" id="emailaddress" />
  <input type="hidden" name="subscribe" value="yes" />
  <input type="hidden" name="list[2]" value="signup" />
  <input type="hidden" name="listname[2]" value="newsletter" />
  <input type="submit" id="submit" value="Subscribe" />
</form>

