-<form action="http://atxsaferstreets.hosted.phplist.com/lists/?p=subscribe&amp;id=2" method="post" id="newsletter_signup" name="signup" target="windowName" onsubmit="window.open('', this.target,
 +<form action="//atxsaferstreets.us8.list-manage.com/subscribe/post?u=d98b43c541764f548279636ea&amp;id=371eb46715" method="post" id="newsletter_signup" name="signup" target="windowName" onsubmit="window.open('', this.target,
  'dialog,modal,scrollbars=no,resizable=no,width=550,height=380,left=0,top=0');">
    For continued updates, subscribe to our email list. We promise to never give away your information to anybody else, and only send you updates about bringing better transportation to Austin.
    <br>
 @@ -9,3 +9,24 @@
    <input type="hidden" name="listname[2]" value="newsletter">
    <input type="submit" id="submit" value="Subscribe">
  </form>
