<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gte IE 9]><!--> <html class="no-js" lang="en-us"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="{{ site.name }}">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  <meta content="article" property="og:type">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.image %}
  <meta content="{{ site.url }}/assets/img/posts/{{ page.image }}" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories %}
  <meta content="{{ category }}" property="article:tag">
  {% endfor %}
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url | canonical }}" property="og:url">
  <link rel="canonical" href="{{ page.url | canonical }}" />
{% endif %}
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
  <link href="/favicon.png" rel="shortcut icon">

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Michroma' rel='stylesheet' type='text/css'>

  {% if site.development == true %}
  <script>document.write('<script src=\"http://' + (location.host || 'localhost').split(':')[0] + ':9001/livereload.js?snipver=1\"></' + 'script>')
  </script>
  {% endif %}
</head>
<body>
  <header class="header-wrapper">
    <div id="header">
      <h1 class="site-name title"><a href="/"><img src="/img/logo.png" alt="ATX Safer Streets" title="ATX Safer Streets"></a></h1>
    </div>


  {% for image in site.data.header_images %}
    {% if page.header_image and image.id == page.header_image %}
    <figure class="header-image">
      <img src="/img/header/{{ image.filename }}">
      <figcaption>
        <a href="{{ image.url }}">{{ image.name }}</a> by <a href="{{ image.profile_url }}">{{ image.artist }}</a> / <a href="{{ image.license_url }}">{{ image.license }}</a>
      </figcaption>
     </figure>
    {% endif %}
  {% endfor %}
  </header>


  <div class="main-container">
    <nav id="nav" role="navigation">
      <div class="menubar" role="menubar">
        <a href="/" class="menuitem" role="menuitem">Home</a>
        <a href="/about.html" class="menuitem" role="menuitem">About</a>
        <a href="/get-involved.html" class="menuitem" role="menuitem">Get Involved</a>
        <a href="/options.html" class="menuitem" role="menuitem">Services</a>
        <a href="/updates/" class="menuitem" role="menuitem">Updates</a>
        <a href="/research.html" class="menuitem" role="menuitem">Research</a>
        <a href="/proposals.html" class="menuitem" role="menuitem">Proposals</a>
      </div>
    </nav>

    <main role="main">
      {% if page.css_id %}
        <div id="{{ page.css_id }}">
          {{ content }}
        </div>
      {% else %}
        {{ content }}
      {% endif %}
    </main>

    <footer id="footer" role="contentinfo">
      <div class="inner">
        <span class="contact">
          <a href="https://www.facebook.com/ATXsaferstreets" target="_blank" class="facebook">Facebook</a>
          <a href="https://twitter.com/ATXsaferstreets" target="_blank" class="twitter">Twitter</a>
          <a href="mailto:atxsaferstreets@gmail.com" class="email">Email</a>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=EXAUVAETXAG34&amp;lc=US&amp;item_name=ATX%20Safer%20Streets&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" class="donate">Donate</a>
        </span>

        <span class="attribution">
          Made with love for ATX Safer Streets by <a href="https://twitter.com/iamcarrico" target="_blank">Ian Carrico</a>
        </span>
      </div>
    </footer>

  </div>

  <script>
      /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
      window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["/grunticons/icons.data.svg.css", "/grunticons/icons.data.png.css", "/grunticons/icons.fallback.css"]);
  </script>
  <noscript><link href="/grunticons/icons.fallback.css" rel="stylesheet"></noscript>


  {% if site.development == false %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49800611-1', 'atxsaferstreets.org');
    ga('send', 'pageview');
  </script>
  {% endif %}

</body>
</html>
