.donate { background-image: url('png/donate.png'); background-repeat: no-repeat; }

.email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

